.container.welcome-section {
    text-align: center;
    font-family: sans-serif;
}

.container.welcome-section h1{
    margin-top: 24px;
    font-weight: bold;
}

.container.welcome-section p{
    margin-top: 26px;
    font-size: 20px;
}

.registration-button-index input {
    padding: 18px 90px 18px 90px;
    background-color: #009578;
    color: #ffffff;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 20px;
}

.registration-button-index input:hover {
    background: #00af8c;
}

.registration-button-index input:active {
    transform: translate(1px, 1px);
    background-color: #ffffff !important;
    color: #009578 !important;
    border: 2px solid #009578;
}

.login-button-index input {
    margin-top: 16px;
    font-size: 18px;
    background: none;
    border: none;
    color: #009578;
}

.login-button-index input:hover {
    text-decoration: underline;
    text-decoration-color: #009578;
    font-weight: bold;
}

.preview-image-index {
    float: left;
    width: 64%;
    margin-top: 48px;
}

.text-content-index {
    margin-top: 74px;
    width: 36%;
    float: right;
}

.text-content-index h3{
    margin-bottom: 8px;
}

.text-content-index p{
    margin-bottom: 32px;
}