<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylestmp.css">
</head>
    <div class="navbar" th:fragment="header">
        <div class="container">
            <div class="navbar navbar-logo">
                <form th:if="${#authorization.expression('!isAuthenticated()')}" th:method="GET" th:action="@{/}">
                    <input class="login-button" type="submit" value="Home">
                </form>
                <form th:if="${#authorization.expression('isAuthenticated()')}" th:method="GET" th:action="@{/home}">
                    <input class="login-button" type="submit" value="Home">
                </form>
            </div>
            <div class="navbar navbar-right">
                <ul class="navbar navbar-right-ul">
                    <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <form th:method="GET" th:action="@{/registration}">
                            <input class="login-button" type="submit" value="Sign up">
                        </form>
                    </li>
                    <li th:if="${#authorization.expression('!isAuthenticated()')}">
                        <form th:method="GET" th:action="@{/login}">
                            <input class="login-button" type="submit" value="Sign in">
                        </form>
                    </li>
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:method="POST" th:action="@{/logout}">
                            <input class="logout-button" type="submit" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</html>