<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="header" th:fragment="header">
    <div class="navbar">
        <div class="container" id="container-navbar">
            <div class="navbar navbar-logo">
                <form th:if="${#authorization.expression('!isAuthenticated()')}" th:method="GET" th:action="@{/}">
                    <input class="home-button" type="submit" value="Главная">
                </form>
                <form th:if="${#authorization.expression('isAuthenticated()')}" th:method="GET" th:action="@{/home}">
                    <input class="home-button" type="submit" value="Главная">
                </form>
            </div>
            <div class="navbar navbar-right">
                <ul class="navbar navbar-right-ul">
                    <li class="registration-button-li" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <form th:method="GET" th:action="@{/registration}">
                            <input class="registration-button" type="submit" value="Регистрация">
                        </form>
                    </li>
                    <li class="login-button-li" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <form th:method="GET" th:action="@{/login}">
                            <input class="login-button" type="submit" value="Войти">
                        </form>
                    </li>
                    <li class="logout-button-li" th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:method="POST" th:action="@{/logout}">
                            <input class="logout-button" type="submit" value="Выйти">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>