<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" th:src="@{/js/lib/jquery-3.7.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/bootstrap.js}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/source/header-styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/source/chart-styles.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}">
</div>
<div class="container">
    <h2 align="center">Статистика</h2>
    <div id="container"
         style="width: 750px; height: 500px; margin: 0 auto; margin-top: 50px"></div>
    <div id="group-input">
        <form th:action="@{/admin/logs/chart}" th:method="GET">
            <div>
                <label for="date-from">От:</label>
                <input type="date" th:attr="name='fromDate'" id="date-from"/>
            </div>
            <div>
                <label for="date-to">До:</label>
                <input type="date" th:attr="name='toDate'" id="date-to"/>
            </div>
            <div>
                <button type="submit" class="button">Применить</button>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        $(function(){
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [[${keySet}]],
                    crosshair: true
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    max: [[${maxLogSize}]],
                    title: {
                        text: 'Количество'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:16px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding-top:4px;font-size:14px">{series.name}: </td>' +
                        '<td style="padding:0"><b> {point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Количество',
                    data: [[${values}]]
                }]
            });
        });
    </script>
</div>
</body>
</html>