<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" th:src="@{/js/lib/jquery-3.7.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/bootstrap.bundle.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/source/main.js}" type="module"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/source/header-styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/source/notes-styles.css}">
</head>
    <body>
        <div class="container" id="container">
            <div th:replace="~{fragments/header :: header}">
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">Метки</button>
                <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton"></ul>
            </div>
            <div class="notes" id="app">
            </div>
        </div>
    </body>
</html>