<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
<h1>Авторизация</h1>
<div th:if="${param.error}" style="color:red">
    Неправильное имя пользователя или пароль.</div>
<div th:if="${param.logout}" style="color:red">
    Логаут.</div>
<form th:action="@{/login}" th:method="POST">
    <div>
        <label for="username">Имя пользователя</label><br>
        <input type="text" name="username" id="username" placeholder="Имя пользователя"/>
    </div>
    <div>
        <label for="password">Пароль</label><br>
        <input type="password" name="password" id="password" placeholder="Пароль"/>
    </div>
    <input type="submit" value="Войти"/>
</form>
<form th:method="GET" th:action="@{/reset-password}">
    <input type="submit" value="Забыл пароль">
</form>
</body>
</html>