<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <script type="text/javascript" th:src="@{/js/lib/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/source/reset-password.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/green-logo.ico}"/>
</head>
    <body class="text-center">
        <main class="form-reset-password">
            <form th:method="POST" th:action="@{/reset-password}">
                <h3 class="h3 mb-4 fw-normal">Сброс пароля</h3>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="username" name="username" placeholder="Электронная почта">
                    <label for="username">Электронная почта</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" value="Сбросить пароль">Сбросить пароль</button>
                <p th:if="${message}" th:text="${message}"></p>
            </form>
        </main>
    </body>
</html>