<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Восстановления пароля</title>
    <script type="text/javascript" th:src="@{/js/lib/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/source/reset-password.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/green-logo.ico}"/>
</head>
    <body class="text-center">
        <main class="form-reset-password">
            <form th:method="POST" th:action="@{/set-password}">
                <input type="hidden" th:attr="name='token'" th:value="${token}">
                <h3 class="h3 mb-4 fw-normal">Введите новый пароль</h3>
                <div class="form-text mb-2" id="passwordHelpBlock">
                    Ваш пароль должен содержать от 4-20 символов и не включать в себя пробелы.
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                    <label for="password">Пароль</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" value="Установить пароль">Установить пароль</button>
                <p th:if="${message}" th:text="${message}"></p>
            </form>
        </main>
    </body>
</html>